*{
    margin:0;
    padding:0;
}

body{
   
    background-color: #000000;
    color: #22D4FD;

}

main{
    display: flex;
    padding: 0 300px 0px 300px;
}

p{
    margin: 40px 0 50px 0;
    font-size: 26px;

}
header, footer{
    heigh: 150px;
}
