*{
    margin:0;
    padding:0;
}

body{
   
    background-color: #000000;
    color: #22D4FD;

}

main{
    display: flex;
    padding: 0 300px 0px 300px;
}

p{
    margin: 40px 0 50px 0;
    font-size: 26px;

}
header, footer{
    height: 150px;

}

img{
    width: 250%;
}

/*button{
    background-color: #22D4FD;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-color: #22D4FD;
    margin: 25px 55px 0 0;
    
}*/

a{
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}

.botao1{
    background-color: blue;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-color: blue;
    margin: 25px 55px 0 0;
}

.botao2{
    background-color: darkmagenta;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-color: darkmagenta;
    border-color:25px 55px 0 0;

}
    





